@font-face {
    font-family: 'Figtree';
    src: url('./Figtree/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('./Figtree/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Jaro';
    src: url('./Jaro/Jaro-Regular-VariableFont_opsz.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: "Jaro", sans-serif;
    font-size: clamp(26px, 2vw, 34px);
}

h2 {
    font-family: "Jaro", sans-serif;
    font-size: clamp(24px, 2vw, 32px);
}

h3 {
    font-family: "Jaro", sans-serif;
    font-size: clamp(18px, 2vw, 26px);
}    

h4 {
    font-family: "Jaro", sans-serif;
    font-size: clamp(14px, 2vw, 22px);
}