.basket_wrapper {
    width: 300px;
    flex-grow: 1;
}

.basket {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    border: 2px solid rgba(200, 200, 200, 0.7);
}

.basket h1 {
    text-align: center;
}

.basket_dishes{
    height: 75vh;
    overflow: auto;
}

.basket_underline {
    border: 2px solid rgba(200, 200, 200, 0.7);
}

.basket_item {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.basket_item h3 {
    margin-block-start: 8px;
    margin-block-end: 8px;
}

.basket_item button {
    height: 40px;
    width: 40px;
    background-color: rgb(255, 127, 0);
    font-size: 24px;
    border: 1px solid rgb(200, 200, 200);
    color: white;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 8px;
    margin-right: 8px;
}

.basket_item button:hover {
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color: rgba(200, 200, 200, 0.7);
    border: 1px solid;
    color: rgb(255, 127, 0);
}

.basket_item button:active {
    position: relative;
    top: 1px;
}

.basket_item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.basket_item_content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.add_chart_button {
    height: 40px;
    width: 40px;
    background-color: rgb(255, 127, 0);
    border: 1px solid rgb(200, 200, 200);
    font-size: 24px;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    margin: 8px;
}

.add_chart_button:hover {
    background: linear-gradient(to bottom, rgb(200, 200, 200, 0.7) 5%, #ffffff 100%);
    background-color: rgba(200, 200, 200, 0.7);
    border: 1px solid;
    color: rgb(255, 127, 0);
}

.add_chart_button:active {
    position: relative;
    top: 1px;
}

.order_btn {
    height: 40px;
    width: 200px;
    background-color: rgb(255, 127, 0);
    border: 0;
    color: white;
    cursor: pointer;
    border-radius: 16px;
    margin-right: 8px;
}

.order_btn:hover {
    background: linear-gradient(to bottom, rgba(200, 200, 200, 0.7) 5%, #ffffff 100%);
    background-color: rgba(200, 200, 200, 0.7);
    border: 1px solid;
    color: rgb(255, 127, 0);
}

.basket_bottom {
    margin-top: 16px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.summary{
    text-decoration: overline;

    margin-bottom: 8px;
}
.resp_basket_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 200px;
    background-color: rgb(255, 127, 0);
    border: 0;
    color: white;
    cursor: pointer;
    border-radius: 16px;
    margin-right: 8px;
}

.resp_basket_btn :hover {
    background: linear-gradient(to bottom, rgba(200, 200, 200, 0.7) 5%, #ffffff 100%);
    background-color: rgba(200, 200, 200, 0.7);
    border: 1px solid;
    color: rgb(255, 127, 0);
}

.resp_basket_wrapper_overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.679);
}

.resp_basket_overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 127, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 155px;
    border-radius: 50px;
    min-height: 350px;
    width: clamp(200px, 80vw, 400px);
    margin: 100px auto;
    padding: 16px;
}

.empty_basket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty_basket img {
    width: 100px;

}